;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/dev"
  "src/test"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [cider/cider-nrepl "0.21.1"]
                [thheller/shadow-cljsjs "0.0.16"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 9000}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [{{name}}.main]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load {{name}}.main/stop
         ;; after live-reloading finishes call this function
         :after-load {{name}}.main/start
         ;; serve the public directory over http at port 8700
         :http-root    "resources/public"
         :http-port    8700}
        }}}
